
# --------------- Frontend ----------------
VITE_BACKEND_URL=http://localhost:3000


# --------------- Backend -----------------
EXPRESS_PORT=3000
JWT_SECRET=yoursupersupersecretjwtkey
FRONTEND_URL=http://localhost:5173


# --------------- Database ----------------
MONGO_URL=mongodb://localhost:27017/note_vault

