
# --------------- Frontend ----------------
VITE_BACKEND_URL=your_complete_backend_url


# --------------- Backend -----------------
EXPRESS_PORT=3000
JWT_SECRET=secret_secret_jwt_key
FRONTEND_URL=your_complete_frontend_url


# --------------- Database ----------------
MONGO_URL=your_complete_mongodb_url

